input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

body {
  min-width: 290px;
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.header {
  background-color: rgba(
    var(--cui-light-rgb),
    var(--cui-bg-opacity)
  ) !important;
}

.body {
  position: relative;

  .placeholder-img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 350px;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../images/tirana-bg.png);
  }

  .container-lg {
    position: relative;
  }
}

.footer {
  background: #dddddd;
}

.cursor {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;

  &-justify {
    &-between {
      justify-content: space-between;
    }
    &-center {
      justify-content: center;
    }
  }

  &-align {
    &-center {
      align-items: center;
    }
  }

  &-gap {
    gap: 1rem;

    &-10 {
      gap: 10px;
    }
  }
}

.filter {
  &-uet {
    filter: invert(22%) sepia(40%) saturate(1495%) hue-rotate(192deg)
      brightness(99%) contrast(85%);
  }
}

.simplebar {
  &-track {
    &.simplebar-vertical {
      width: 7px !important;
    }
  }
  &-scrollbar {
    &:before {
      background: rgba(255, 255, 255.5) !important;
    }
  }
}

.bold {
  font-weight: bold;
}

.card {
  &-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }
}

.form-select,
.form-check-input {
  cursor: pointer;
}

.list-group {
  &-noBorder {
    .list-group-item {
      border: none;
    }
  }
}

.dx-editor-cell .dx-texteditor .dx-texteditor-input {
  height: 34px;
  line-height: 34px;
}

//small devices
@media only screen and (max-width: 576px) {
  .card {
    &-group {
      > .card:first-of-type {
        margin-top: var(--cui-card-group-margin);
      }
    }
  }
}

//medium devices
@media only screen and (max-width: 992px) and (min-width: 576px) {
  .card-group > .card:not(:first-child) {
    border-radius: var(--cui-card-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-group > .card:not(:last-child) {
    border-radius: var(--cui-card-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

//large devices
@media only screen and (max-width: 992px) {
  .card-group {
    flex-direction: column;
  }
}
