:root {
  --cui-primary: #004aad;
  --cui-primary-2: #003782;
  --cui-primary-3: #001f4a;
  --cui-body-font-size: 0.95rem;
  --uet-link-color: #0076f8;
  --uet-font: "Poppins", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@mixin focus-styles {
  &:focus {
    border-color: var(--cui-primary);
    box-shadow: 0 0 0 0.25rem rgba(0, 55, 130, 0.25); // --cui-primary-2
  }
}

body {
  min-width: 290px;
  font-family: var(--uet-font);
}

.btn {
  font-size: 0.9em;

  &-primary {
    --cui-btn-color: rgba(255, 255, 255, 0.87);

    --cui-btn-bg: var(--cui-primary);
    --cui-btn-border-color: var(--cui-primary);

    --cui-btn-hover-color: rgba(255, 255, 255, 0.87);
    --cui-btn-hover-bg: var(--cui-primary-2);
    --cui-btn-hover-border-color: var(--cui-primary-2);

    --cui-btn-active-color: rgba(255, 255, 255, 0.87);
    --cui-btn-active-bg: var(--cui-primary-3);
    --cui-btn-active-border-color: var(--cui-primary-3);
    --cui-btn-active-shadow: none;

    --cui-btn-disabled-color: rgba(0, 0, 0, 0.1);
    --cui-btn-disabled-bg: rgba(0, 0, 0, 0.1);
    --cui-btn-disabled-border-color: rgba(0, 0, 0, 0.1);

    --cui-btn-box-shadow: none !important;
    --cui-btn-focus-box-shadow: none !important;

    &.hover {
      background-color: var(--cui-primary-2);
    }
  }

  &-outline {
    &-primary {
      --cui-btn-color: var(--cui-primary);
      --cui-btn-border-color: var(--cui-primary);
      --cui-btn-hover-bg: var(--cui-primary-2);
      --cui-btn-hover-border-color: var(--cui-primary-2);
      --cui-btn-active-bg: var(--cui-primary-2);
      --cui-btn-active-border-color: var(--cui-primary-2);
      --cui-btn-disabled-color: var(--cui-primary);
    }
  }

  &-link {
    color: #676978;
    text-decoration: none;

    &:hover {
      color: var(--uet-link-color);
    }
  }
}

.bg {
  &-primary {
    background-color: var(--cui-primary) !important;
  }
  &-dark {
    color: rgba(255, 255, 255, 0.9) !important;
    background-color: var(--cui-primary-3) !important;

    .card-header {
      border-color: rgba(255, 255, 255, 0.2) !important;
    }
  }
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.header {
  background-color: rgba(
    var(--cui-light-rgb),
    var(--cui-bg-opacity)
  ) !important;
}

.body {
  position: relative;

  .placeholder-img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 350px;
    right: 0;
    bottom: 0;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(../images/tirana-bg.png);
  }

  .container-lg {
    position: relative;
  }
}

.footer {
  font-size: 0.8rem;
  background: #dddddd;

  a {
    color: var(--cui-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cursor {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;

  &-justify {
    &-between {
      justify-content: space-between;
    }
    &-center {
      justify-content: center;
    }
  }

  &-align {
    &-center {
      align-items: center;
    }
  }

  &-gap {
    gap: 1rem;

    &-10 {
      gap: 10px;
    }
  }
}

.filter {
  &-uet {
    filter: invert(22%) sepia(40%) saturate(1495%) hue-rotate(192deg)
      brightness(99%) contrast(85%);
  }
}

.simplebar {
  &-track {
    &.simplebar-vertical {
      width: 7px !important;
    }
  }
  &-scrollbar {
    &:before {
      background: rgba(255, 255, 255.5) !important;
    }
  }
}

.bold {
  font-weight: bold;
}

.card {
  &-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .overlayBg {
    position: absolute;
    bottom: -15%;
    right: 0;
    height: 250px;
    opacity: 0.2;
    transform: rotate(1, 1, 1, 45deg);

    &.register {
      bottom: -15%;
      right: 3%;
      height: 60%;
      transform: rotate(345deg);
    }
  }
}

.form {
  &-control {
    font-size: 0.9em;

    @include focus-styles;
  }

  &-select {
    font-size: 0.9em;
    cursor: pointer;

    @include focus-styles;
  }

  &-check {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    padding: 0;

    &-input {
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
      float: none !important;
      margin: 0 !important;

      @include focus-styles;

      &:checked {
        background-color: var(--cui-primary);
        border-color: var(--cui-primary);
      }
    }
    &-label {
      font-size: 0.9em;
    }
  }
}

.list-group {
  &-noBorder {
    .list-group-item {
      border: none;
      color: #ffffff;
      padding: 5px 10px;
      background-color: rgba(255, 255, 255, 0.15);

      .text {
        text-align: left;
        font-size: 0.9em;
      }

      .small {
        font-size: 0.8em;
        opacity: 0.7;
        text-align: right;
      }
    }
  }
}

.passwordCriteria {
  &-light {
    .list-group-item {
      color: #000000;

      span {
        border-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
}

.dx {
  &-editor-cell {
    .dx-texteditor {
      &-input {
        height: 34px;
        line-height: 34px;
      }
    }
    &-placeholder {
      display: none;
    }
  }

  &-datagrid {
    &-column-chooser {
      .dx-overlay-content .dx-popup-title .dx-toolbar-label {
        font-size: 16px;
      }
      &-mode-select .dx-popup-content {
        padding: 0 !important;
      }
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.skeleton {
  position: relative;
  overflow: hidden;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  width: 100%;
  height: 34px;
  background-color: #ffffff;

  &-inner {
    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }

    background-image: linear-gradient(to right, #ffffff, #ebedef, #ffffff);
    animation: shimmer 1.5s infinite;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: translate(-100%, 0) rotate(0) skewX(0) skewY(0) scaleX(1)
      scaleY(1);
  }
}

.sidebar {
  --cui-sidebar-bg: #212631;
}

.disabled {
  color: rgba(0, 0, 0, 0.5);
}

//small devices
@media only screen and (max-width: 576px) {
  .card {
    &-group {
      > .card:first-of-type {
        margin-top: var(--cui-card-group-margin);
      }
    }
  }
}

//medium devices
@media only screen and (max-width: 992px) and (min-width: 576px) {
  .card-group > .card:not(:first-child) {
    border-radius: var(--cui-card-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .card-group > .card:not(:last-child) {
    border-radius: var(--cui-card-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

//large devices
@media only screen and (max-width: 992px) {
  .card-group {
    flex-direction: column;
  }
}
