// Here you can add other styles
.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding 0.15s);
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 992px) {
  .card-group {
    flex-direction: column;
  }
}

.header {
  background: transparent;
  margin-bottom: var(--cui-header-padding-y);
}
